
.certifications{
  .certifications-container { // or center / flex-start
    .certification {
      img {
        width: $width-full;
        height: auto;
        object-fit: contain; // keep proportions without cropping
      }
    }
  }
}