
.certifications{
    display: block;
    width: $width-full;
    background-color: $color-blue;
  
    h1{
          font-family: $font-primary;
          font-size: $font-size-xxl;
          color: $color-white;
          font-weight: $font-light;
          margin-bottom: $margin-xl;
          text-align: center;
        }
  
      .certifications-container {
        display: flex;
        justify-content: space-between; // or center / flex-start
        gap: $margin-sm;
  
        .certification {
          flex: 1; // each takes equal space
          max-width: 300px; // optional limit
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: auto;
            object-fit: contain; // keep proportions without cropping
          }
        }
      }
  }