@import '../variables';

.footer {
    display: block;
    width: $width-full;
    
    .h4 {
        font-size: $font-size-md;
        text-align: left;
    }
    .p {
        font-size: $font-size-sm;
    }



};