/* BARRA  vw = (px value / 1920) * 100 */
@import '../mixins';

.navBar {
    width: $width-full;
    margin: $margin-md 0;
    .navBar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        padding-right: $padding-vw-xl;
        padding-left: $padding-vw-xl;

        @include respond-to(laptop) {
            padding: 0 $padding-xl;
          }
          @include respond-to(tablet) {
            padding: 0 $padding-lg;
          }
          @include respond-to(default) {
            padding: 0 $padding-md;
            flex-direction: column;
            text-Align: center;
            justify-self: center;
          }
          @include respond-to(mobile) {
            padding: 0 $padding-sm;
          }

        .navMenu {
            display: flex;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;

            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // column-gap: 2rem;
        }
    }
}
