/* BARRA  vw = (px value / 1920) * 100 */
.navBar-container {
    background-color: $color-white;
    margin-top: 1.5rem;
    margin-right: 18.5vw;
    margin-bottom: 1.5rem;
    margin-left: 18.5vw;

}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}




