/* BARRA  vw = (px value / 1920) * 100 */
.navBar {
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6.3rem;
    padding: 25px 0 5px 0;
    gap: 11.4vw;
}

.navMenu {
    display: flex;
    column-gap: 3.9vw;
}




