
.our-services {
    // width: $width-full;
    display: block;

    h1 {
      color: $color-white;
    }

    .our-services--carousel {
      display: flex;
      width: $width-full;
      gap: $margin-sm;

      .image-role-handler {
        flex: 1;
        display: flex;
        height: $image-lg;
        img {
          flex: 1;
          width: $width-full;
          height: auto;
          object-fit: cover;
          border-radius: $radius-sm;
        }
      }
    }
  }