.who-we-are {
    display: block;

    .who-we-are--describe {
      display: flex;
      flex-direction: row; // or omit, since 'row' is default
      justify-content: space-between;
      align-items: flex-start; // optional, depending on alignment needs
      gap: $margin-lg;

      h1 {
        color: $color-blue;
      }
      p,h4 {
        margin-bottom: $margin-sm;
      }
      .--describe {
        flex: 1.3;
      }
    }
    .who-we-are--stats {
      display: flex;
      justify-content: space-around;
      text-align: center;
      .stat{
        width: $width-md;
      }
      h1 {
        color: $color-blue;
        padding-top: $padding-lg;
      }
    }
  }