.who-we-are {
    display: block;

    .who-we-are--describe {
      align-items: flex-start; // optional, depending on alignment needs

      .--describe {
        flex: 1.3;
      }
    }
    .who-we-are--stats {
      display: flex;
      justify-content: space-around;
      
    }
  }