# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
/server

*.mp4
*.mov
*.avi
# Ignore specific files or folders
src/Assets/media01.mp4
src/Assets/media02.mp4
src/Assets/media04.mp4
src/Assets/media06.mp4
src/Assets/media08.mp4
src/Assets/tax_deductions_expenses.json
src/Assets/taxdeduction.json
src/Assets/earnings.json
src/Assets/videos.json
src/Assets/icons.json
src/Assets/lottery.json
