@import '../utilities';

.carousel-container > img{
  display: block;
  width: $width-full;
  height: 78vh; //calc(100vh - 100px);
  object-fit: cover;
}

//****************************************
//WHO WE ARE


//****************************************
//OUR SERVICES


//****************************************
//OUR COMMITMENT


//****************************************
//CERTIFICATIONS


//****************************************
//TESTIMONIALS
