@import '../utilities';

.home {

  .carousel-container > img{
    display: block;
    width: $width-full;
    height: calc(100vh - 90px);
    object-fit: cover;
  }
}

//****************************************
//WHO WE ARE


//****************************************
//OUR SERVICES


//****************************************
//OUR COMMITMENT


//****************************************
//CERTIFICATIONS


//****************************************
//TESTIMONIALS
