// _global.scss

// Box-sizing reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin/padding
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

// Body styles
body {
  // font-family: 'Arial', sans-serif;
  // color: $text-color;
  background-color: $color-white;
  // line-height: 1.7;
}

// Image default styles
img {
  
  
}

// Links
a {
  text-decoration: none;
  color: inherit;

  &:hover {
    // color: $primary-color;
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  // font-weight: 600;
}

// List reset
ul, ol {
  list-style: none;
}

// Buttons
button {
  all: unset; // <-- resets all inherited and default browser styles
  box-sizing: border-box; // optional but often helpful
  cursor: pointer; // re-add pointer cursor
}
input, textarea, select{
  border: none; /* optional, if you want no border at all */
  resize: vertical;
  width: 100%;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: none;
  border: none; /* optional, if you want no border at all */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
