
// Font Families
$font-primary: "Barlow", sans-serif;
$font-secondary: "Roboto", sans-serif;

// Font Sizes
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 22px;
$font-size-xl: 32px;

$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$font-normal: normal;
$font-italic: italic;

// Line Heights
$line-height-base: 1.6;
$line-height-heading: 1.2;

body {
    font-family: $font-primary;
    // font-size: $font-size-md;
    // color: $text-primary;
    line-height: $line-height-base;
  }