// _utilities.scss
@import './typography';
@import './variables';
@import './mixins';

.u-color-white { color: $color-white }
.u-color-lightgray { color: $color-lightgray }
.u-color-black { color: $color-black }
.u-color-gold { color: $color-gold }
.u-color-gray { color: $color-gray }
.u-color-softgray { color: $color-softgray }
.u-color-darkgray { color: $color-darkgray }
.u-color-blue { color: $color-blue }
.u-color-error { color: $color-error }
.u-color-success { color: $color-success }
.u-color-warning { color: $color-warning }

.page-full-view {
  display: block;
  width: $width-full;
  height: 100vh;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  // align-items: flex-start;
}

.u-flex-column {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex: 1; // allow equal width
  height: 100%;
  text-align: left;
}

.u-gap-xs { gap: 0.5rem }
.u-gap-sm { gap: 0.75rem }
.u-gap-md { gap: 1rem }
.u-gap-lg { gap: 2rem }

.space-between { justify-content: space-between }

.flex-1 { flex: 1 }

.flex-2 { flex: 2 }

.primaryLogo > img {
  width: 19rem;
  height: 2.5rem;
}

.secondaryLogo > img {
  width: 12rem;
  height: 6rem;
}
.image-role-handler {
  flex: 1;
  display: flex;
  img {
    flex: 1;
    width: $width-full;
    margin-top: $margin-md;
    height: auto;
    object-fit: cover;
    border-radius: $radius-sm;
  }
}

.page-content-container {
  padding: $padding-xl $padding-vw-xl $padding-xl $padding-vw-xl;

  @include respond-to(laptop) { padding: $padding-lg $padding-xl $padding-lg $padding-xl }
  @include respond-to(tablet) { padding: $padding-md $padding-lg $padding-md $padding-lg }
  @include respond-to(mobile) { padding: $padding-sm $padding-sm $padding-sm $padding-sm }
}
.u-btn-sm {
  width: $button-sm;
}
.u-btn-md {
  width: $button-md;
  justify-self: center;
}
.u-btn-lg {
  width: $button-lg;
  justify-self: center;
}
.u-btn-xl {
  width: $button-xl;
  justify-self: center;
}

//BACKGROUND COLORING
.u-backg-c-white {background-color: $color-white }
.u-backg-c-lightgray {background-color: $color-lightgray }
.u-backg-c-black {background-color: $color-black }
.u-backg-c-gold {background-color: $color-gold }
.u-backg-c-gray {background-color: $color-gray }
.u-backg-c-darkgray {background-color: $color-darkgray }
.u-backg-c-blue {background-color: $color-blue }
.u-backg-c-error {background-color: $color-error }
.u-backg-c-success {background-color: $color-success }
.u-backg-c-warning {background-color: $color-warning }

//HTAGS & P

.u-h1 {
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: $font-light;
}
.u-h4 {
  font-family: $font-secondary;
  font-size: $font-size-md;
}

.u-p {
  font-family: $font-secondary;
  // color: $color-gray;
  font-size: $font-size-md;
  font-weight: $font-light;
}

//MARGIN
.u-mr-tp-xs { margin-top: $margin-xs };
.u-mr-tp-sm { margin-top: $margin-sm };
.u-mr-tp-md { margin-top: $margin-md };
.u-mr-tp-lg { margin-top: $margin-lg };
.u-mr-tp-xl { margin-top: $margin-xl };

.u-mr-bt-xs { margin-bottom: $margin-xs };
.u-mr-bt-sm { margin-bottom: $margin-sm };
.u-mr-bt-md { margin-bottom: $margin-md };
.u-mr-bt-lg { margin-bottom: $margin-lg };
.u-mr-bt-xl { margin-bottom: $margin-xl };

//PADING
.u-padding-top-xs { padding-top: $padding-xs };
.u-padding-top-sm { padding-top: $padding-sm };
.u-padding-top-md { padding-top: $padding-md };
.u-padding-top-lg { padding-top: $padding-lg };
.u-padding-top-xl { padding-top: $padding-xl };

.u-padding-bottom-xs { padding-bottom: $padding-xs };
.u-padding-bottom-sm { padding-bottom: $padding-sm };
.u-padding-bottom-md { padding-bottom: $padding-md };
.u-padding-bottom-lg { padding-bottom: $padding-lg };
.u-padding-bottom-xl { padding-bottom: $padding-xl };

//Width
.u-wid-md { width: $width-md }
.u-wid-lg { width: $width-lg }
.u-wid-xl { width: $width-xl }
.u-wid-full { width: $width-full }

//Height
.u-hei-md { height: $height-md }
.u-hei-lg { height: $height-lg }
.u-hei-xl { height: $height-xl }
.u-hei-full { height: $height-full }

//Padding

.u-radius-xs { border-radius: $radius-xs }
.u-radius-sm { border-radius: $radius-sm }
.u-radius-lg { border-radius: $radius-lg }

.u-bt-border-lite { border-bottom: $border-light }

.u-padding-sm { padding: .5rem }
.u-p-md { padding: 1rem }

.hide { display: none !important }

.show { display: block !important }

.center {
  margin-left: auto;
  margin-right: auto;
}

.justify-center { justify-content: center; justify-self: center; justify-items: center }
.text-center { text-align: center }
.float-right { float:right }

.bold { font-weight: bold }