// _utilities.scss
@import './typography';
@import './variables';
@import './mixins';

.color-white { color: $color-white }
.color-lightgray { color: $color-lightgray }
.color-black { color: $color-black }
.color-gold { color: $color-gold }
.color-gray { color: $color-gray }
.color-softgray { color: $color-softgray }
.color-darkgray { color: $color-darkgray }
.color-blue { color: $color-blue }
.color-error { color: $color-error }
.color-success { color: $color-success }
.color-warning { color: $color-warning }

.page-full-view {
  display: block;
  width: $width-full;
  height: 100vh;
}

.grid { display: grid;}
.grid-1fr-auto { grid-template-columns: 1fr auto;}
.grid-2-auto { grid-template-columns: repeat(2, 1fr);}

.flex-row {
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  // align-items: flex-start;
}

.flex-column {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex: 1; // allow equal width
  height: 100%;
  text-align: left;
}

.gap-xxs { gap: 0.25rem }
.gap-xs { gap: 0.5rem }
.gap-sm { gap: 0.75rem }
.gap-md { gap: 1rem }
.gap-lg { gap: 2rem }
.gap-xl { gap: 3rem }

.flex-1 { flex: 1 }
.flex-2 { flex: 2 }
.flex-3 { flex: 3 }

.primaryLogo > img {
  width: 19rem;
  height: 2.5rem;
}

.secondaryLogo > img {
  width: 12rem;
  height: 6rem;
}
.image-role-handler {
  flex: 1;
  display: flex;
  img {
    flex: 1;
    width: $width-full;
    margin-top: $margin-md;
    object-fit: cover;
    border-radius: $radius-sm;
  }
}

.page-content-container {
  padding: $padding-xl $padding-vw-xl $padding-xl $padding-vw-xl;
  
  @include respond-to(laptop) { padding: $padding-lg $padding-xl $padding-lg $padding-xl }
  @include respond-to(tablet) { padding: $padding-md $padding-lg $padding-md $padding-lg }
  @include respond-to(mobile) { padding: $padding-sm $padding-sm $padding-sm $padding-sm }
}
.button-height-sm {
  height: $button-height-sm;
}
.button-height-md {
  height: $button-height-md;
}
.button-width-sm {
  width: $button-width-sm;
}
.button-md {
  width: $button-md;
  justify-self: center;
  align-content: end;
}
.button-lg {
  width: $button-lg;
  justify-self: center;
  align-content: end;
}
.button-xl {
  width: $button-xl;
  justify-self: center;
  align-content: end;
}

//BACKGROUND COLORING
.backgroundColor-white {background-color: $color-white }
.backgroundColor-lightgray {background-color: $color-lightgray }
.backgroundColor-black {background-color: $color-black }
.backgroundColor-gold {background-color: $color-gold }
.backgroundColor-gray {background-color: $color-gray }
.backgroundColor-darkgray {background-color: $color-darkgray }
.backgroundColor-blue {background-color: $color-blue }
.backgroundColor-error {background-color: $color-error }
.backgroundColor-success {background-color: $color-success }
.backgroundColor-warning {background-color: $color-warning }

//HTAGS & P

.h1 {
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: $font-light;
}
.h4 {
  font-family: $font-secondary;
  font-size: $font-size-lg;
}

.p {
  font-family: $font-secondary;
  font-size: $font-size-md;
  font-weight: $font-medium;
}

//MARGIN
.marginTop--xs {margin-top: -5px};
.marginTop-xxs { margin-top: $margin-xxs };
.marginTop-xs { margin-top: $margin-xs };
.marginTop-sm { margin-top: $margin-sm };
.marginTop-md { margin-top: $margin-md };
.marginTop-lg { margin-top: $margin-lg };
// .u-mr-tp-xl { margin-top: $margin-xl };

// .u-mr-bt-xxs { margin-bottom: $margin-xxs };
.marginBottom-xs { margin-bottom: $margin-xs };
.marginBottom-sm { margin-bottom: $margin-sm };
.marginBottom-md { margin-bottom: $margin-md };
.marginBottom-lg { margin-bottom: $margin-lg };
.marginBottom-xl { margin-bottom: $margin-xl };

//PADING
.paddingTop-xs { padding-top: $padding-xs };
.paddingTop-sm { padding-top: $padding-sm };
.paddingTop-md { padding-top: $padding-md };
.paddingTop-lg { padding-top: $padding-lg };
.paddingTop-xl { padding-top: $padding-xl };
.paddingBottom-lg { padding-bottom: $padding-lg };
.paddingLeft-sm { padding-left: $padding-sm };
.paddingRight-sm { padding-right: $padding-sm };
.padding-sm { padding: .5rem }
.padding-md { padding: 1rem }

// .p-md { padding: 1rem }
.paddingBottom-xs { padding-bottom: $padding-xs };
.paddingBottom-sm { padding-bottom: $padding-sm };
.paddingBottom-md { padding-bottom: $padding-md };
// .paddingBottom-xl { padding-bottom: $padding-xl };




//Width
.dot-sm { width: $dot-sm; height: $dot-sm }
// .u-wid-md { width: $width-md }
// .u-wid-lg { width: $width-lg }
// .u-wid-xl { width: $width-xl }
// .u-wid-full { width: $width-full }

//Height
.height-md { height: $height-md }
.height-lg { height: $height-lg }
.height-xl { height: $height-xl }
// .u-hei-full { height: $height-full }

//Padding

.radius-xs { border-radius: $radius-xs }
.radius-sm { border-radius: $radius-sm }
.radiusTop-xs { border-top-right-radius: $radius-xs; border-top-left-radius: $radius-xs;}
.radiusBottom-xs { border-bottom-right-radius: $radius-xs; border-bottom-left-radius: $radius-xs;}
.radius-lg { border-radius: $radius-lg }

.borderBottom-lightgray { border-bottom: $border-light }
.border-lightgray { border: $border-lightgray }
.border-gray { border: $border-gray }
.border-softgray { border: $border-softgray }
// .u-border-gold { border: $border-gold }
.borderLeft-white { border-left: $border-white }



.hide { display: none !important }

.show { display: block !important }


.center {
  margin-left: auto;
  margin-right: auto;
}

.space-between { justify-content: space-between; }

.justify-center { justify-content: center; justify-self: center; justify-items: center }
.justify-left { justify-content: left; justify-self: left; justify-items: left }
.align-center { align-content: center; align-self: center; align-items: center }
.text-center { text-align: center }
.float-right { float:right }
.float-left { float:left }
.left-md { left: $left-md}
.left-lg { left: $left-lg}
.left-xl { left: $left-xl}
.bold { font-weight: bold }
.cursor-pointer { cursor: pointer; }
.zIndex-10 { z-index: $zIndex-10; }
.absolute { position: absolute;}
