// _variables.scss

// Colors
$color-white: #ffffff;
$color-lightgray: #f1f1f1;
$color-black: #000000;
$color-gold: #B79977;
$color-gray: #5E637F;
$color-softgray: #4C5866;
$color-darkgray: #374151;
$color-blue: #294E99;
$color-error: #e74c3c;
$color-success: #2ecc71;
$color-warning: #f1c40f;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-default: 887px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1440px;

//Borders
$border-light: 1px solid $color-softgray;
$border-lightgray: 1px solid $color-lightgray;
$border-gold: 1px solid $color-gold;
$border-white: 1px solid $color-white;

//Logo

//Spacing
$spacing-xs: .5px;
$spacing-sm: 1rem;
$spacing-md: 1.6rem;
$spacing-lg: 4rem;
$spacing-xl: 5rem;
$spacing-vw-xl: 18.5vw;

//Margins
$margin-xxs: .3rem;
$margin-xs: .5rem;
$margin-sm: 1rem;
$margin-md: 1.6rem;
$margin-lg: 4rem;
$margin-xl: 5rem;
$margin-vw-xl: 18.5vw;

//Padding
$padding-xs: .5rem;
$padding-sm: 1rem;
$padding-md: 1.6rem;
$padding-lg: 4rem;
$padding-xl: 6rem;
$padding-vw-xl: 18.5vw;

//Width
$width-md: 13rem;
$width-lg: 20rem;
$width-xl: 24rem;
$width-full: 100%;

//Height
$height-md: 13rem;
$height-lg: 20rem;
$height-xl: 24rem;
$height-full: 100%;

//Left
$left-sm: 3rem;
$left-md: 5rem;
$left-lg: 8rem;
$left-xl: 13.2rem;

//Images
$image-sm: 9rem;
$image-md: 13rem;
$image-lg: 20rem;
$image-xl: 24rem;
$image-full: 30rem;

//Button
$button-sm: 8rem;
$button-md: 12rem;
$button-lg: 15rem;
$button-xl: 100%;

//Radius
$radius-xs: .5rem;
$radius-sm: .7rem;
$radius-lg: 50%;

// Z-index
$z-index-header: 100;
$z-index-modal: 200;
$z-index-tooltip: 300;
$z-index-dropdown: 1000;

$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.3);
