.contact-container {
  padding: 30px 0 0 0;
  margin: auto;
}
.contact-header{
  text-align: center;
}
.contact-component--container {
  display: grid;
  grid-template-columns: auto auto;
  /* padding: 20px; */
  margin: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px #294e9945;
}

  /* 
#gradient {
  height: 150px;
  background: linear-gradient(to right, rgba(255, 122, 89,1), rgba(255, 122, 89,0));
} */

.contact-info {
  flex: 1;
  padding: 40px;
  /* border-radius: 8px; */
  color:#294E99;
  background-color: #fff;
}

.contact-info h2,
.contact-info h3 {
  margin-top: 0;
  color: #294E99;
}

.contact-info p {
  /* color: #555; */
  line-height: 1.5;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

/* Container styling */
.contact-form-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 30px 40px 40px 40px;
  /* border-radius: 10px; */
  color: #294E99;
}

/* Heading */
.contact-form-container h4 {
  padding: 10px;
  /* font-size: 24px; */
  color: #294E99;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label styling */
.contact-form label {
  margin-bottom: 5px;
  font-size: 15px;
  color: #294E99;
}

/* Input and textarea styling */
.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* width: 100%; */
  color: #294E99;
  font-size: large;
}

/* Button styling */
.contact-form button {
  align-self: center;
  background-color: #294E99;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #2f62c9;
}

/* Textarea height */
.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}
