.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    background-color: #fff;
    /* background-color: #fff; */
    border-bottom: 2px solid #294E99;

    a, li {
        text-decoration: none;
        list-style: none;
        color:#294E99;
    }

    .logo {
        justify-content: center;
        align-content: center;
        color:#294E99;
    }
    .logo img{
        width: 35%;
        height: auto;
        min-width: 150px;
        display: inline-block;
        justify-content: center;
        align-content: center;
    }
    .navbar ul{
        display: grid;
        grid-template-columns: repeat( 4, auto) ;
        gap: 20px;
        text-align: center;
        padding: 0;
    }
    nav {
        padding-top: 30px;
    }

    .active {
        border-bottom: 2px solid #294E99;
    }

    .link {
        position: relative;
    }

    .link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; /* Adjust based on the distance you want from the text */
        width: 0;
        height: 2px; /* Thickness of the border */
        background-color:#294E99 ;
        transition: width 0.3s ease;
    }
    .link:hover::after {
        width: 100%;
    }

}

@media (max-width: 800px) {

}

@media (max-width: 500px) {

}